

.container {
  width: 80%;
  /*background-color: #544A7F;*/
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin: 20px 0;
}


.navbar span {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4; 
}

.logo {
  width: 15%;
  height: 15%;
  margin-right: 10px;
}


.filter-section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.filter-section label {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}


